.allProductsContainer {
  display: flex;
}

.allProductsImg {
  height: 350px;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  border: 1px solid #ddd;
}

.allProductsImgAndTitle {
  margin-left: 25px;
  margin-bottom: 32px;
  width: 336px;
  border-radius: 12px;
  border: 1px solid #ddd;
  margin-right: 10px;
}

.allProductsTitle {
  margin: 20px 22px 16px 22px;
  overflow: hidden;
  color: black;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
.allProductsTitle:hover {
  color: rgb(79, 237, 79);
  transition: 0.5s;
}
.discountPrice {
  display: inline-flex;
  gap: 16px;
}

.allProductsPrice {
  margin: 0px 0px 20px 22px;
  color: black;
  font-size: 40px;
  font-weight: 600;
  line-height: 110%;
  cursor: pointer;
}
.allProductsDiscount {
  margin-top: 15px;
  color: #8b8b8b;
  font-size: 20px;
  font-weight: 500;
  text-decoration: line-through;
}
.allProductsProcent {
  margin-top: 8px;
  padding: 4px 8px;
  position: absolute;
  border-radius: 6px;
  background: #393;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  margin-left: 258px;
}

.addToCard {
  opacity: 0;
  transition: opacity 0.3s ease;
  position: absolute;
  width: 284px;
  padding: 16px 32px;
  color: white;
  font-size: 20px;
  font-weight: 500;
  border-radius: 6px;
  border: none;
  background: #393;
  margin-left: 25px;
  margin-top: -92px;
  cursor: pointer;
}

.addToCard:hover {
  transition: 1s;
  background: black;
}

.allProductsImgAndTitle:hover .addToCard {
  opacity: 1;
}

.linkP {
  color: black;
  text-decoration: none;
}
