.mainContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}


.allProductsContainers {
  padding: 20px;
  display: flex;
  margin-top: 40px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}

