.mainContainer {
  height: 100%;
  padding-bottom: 32px;
}

.categories {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  grid-template-columns: repeat(5, 1fr);
  font-family: "Montserrat", sans-serif;
}
@media only screen and (max-width: 828px) {
  .categories {
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
  }
}

.categoriesHR {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1560px;
  height: 70px;
  margin-top: 10px;
}
@media only screen and (max-width: 828px) {
  .categoriesHR {
    width: 90%; /* Например, установите ширину на 90% для адаптации под меньшие экраны */
    margin: 10px auto; /* Центрируем по горизонтали и добавляем отступы сверху и снизу */
  }
}

.categoriesText {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 64px;
  font-weight: 700;
  margin-top: 60px;
  margin-left: 40px;
  margin-right: 32px;
  align-items: center;
  cursor: default;
}

.categoriesLine {
  flex: 2;
  margin-top: 72px;
  border: none;
  border-top: 1px solid #dddddd;
  width: 1132px;
}

.allCategoriesBtn {
  margin-top: 70px;
  margin-right: 40px;
  padding: 8px 16px;
  border-radius: 6px;
  border: 1px solid #dddddd;
  font-size: 16px;
  line-height: 126%;
  background-color: white;
  color: grey;
  font-family: "Montserrat", sans-serif;
}

.allCategoriesBtn:hover {
  transition: 0.5s;
  background-color: #339933;
  color: white;
  box-shadow: 1px 1px 30px 3px #339933;
  border: none;
  cursor: pointer;
}
